<%- partial("/_partials/_header") %>
<div class="page-background">
	<div class="container page-container">
		<div class="col-md-3">
			<%- partial("/_partials/_navigation") %>
			<div class="row text-center certification-sub hidden-xs hidden-sm">
				<span>
					<img class="img-thumbnail img-circle badges" src="/images/isnetworld-seal.png">
					<img class="img-thumbnail img-circle badges" src="/images/cor-seal.png">
				</span>
			</div>
		</div>
		<div class="col-md-9">
			<article class="page-content">
				<div class="page-title-background">
					<h2 class="page-title"><%= pageTitle %></h2>
				</div>
				<div class="page-content-article">
					<img class="img-responsive" src="/images/about-header.jpg">
					<hr>
					<p>TDN Contracting Ltd is a Chipewyan Prairie First Nation totality owned company, which  operates out of Janvier, AB. We encourage hiring local community members for work first.<p>
					<p>We have completed our Safety external audit in 2015 and are fully qualified core with the Alberta Construction Safety Association (CORS). We have also recently launched our Quality Manual. In addition, we are a member of ISNetworld and can provide our identification number when requested.</p>
					<div class="jumbotron">
					  <h2 class="text-center">TDN Contracting Ltd. is a wholly owned Chipewyan Prairie Dene First Nation company.</h2>
					  <img src="/images/cpdfn.png" class="img-responsive img-center cpdfn-logo">
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<%- partial("/_partials/_footer") %>
