<%- partial("/_partials/_header") %>
<div class="page-background">
	<div class="container page-container">
		<div class="col-md-3">
			<%- partial("/_partials/_navigation") %>
			<div class="row text-center certification-sub hidden-xs hidden-sm">
				<span>
					<img class="img-thumbnail img-circle badges" src="/images/isnetworld-seal.png">
					<img class="img-thumbnail img-circle badges" src="/images/cor-seal.png">
				</span>
			</div>
		</div>
		<div class="col-md-9">
			<article class="page-content">
				<div class="page-title-background">
					<h2 class="page-title"><%= pageTitle %></h2>
				</div>
				<div class="page-content-article">
					<!-- Contact Form -->
					<h3><i class="fa fa-envelope"></i> Get in touch</h3>
					<form role="form" action="//formspree.io/liquidtrends@gmail.com" method="POST">
				      	<div class="form-group">
				    		<input placeholder="Your name" class="form-control" type="text" name="name">
				    	</div>
				    	<div class="form-group">
				    		<input placeholder="Your email" class="form-control" type="email" name="_replyto">
				    	</div>
				    	<div class="form-group">
				    		<textarea placeholder="Your message" class="form-control" type="textarea" name="message"></textarea>
				    	</div>
				    	<button type="submit button" class="btn btn-default" value="Send">Send</button>
					</form>
					<!-- form end -->
					<hr>
					<div class="row">
						<div class="col-md-4">
							<h4><i class="fa fa-phone"></i> Phone</h4>
							<p>780-215-6244</p>
							<hr>
							<h4><i class="fa fa-users"></i></i> Our Team</h4>
							<ul class="contact-names">
								<li>Ron Janvier - CEO</li>
								<li>Ron Warawa - General Manager</li>
								<li>Mike Kearns - VP Marketing</li>
								<li>Dustin Nokohoo - Safety Manager</li>
							</ul>
						</div>
						<div class="col-md-8">
							<img src="/images/map.png" class="img-responsive">
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<%- partial("/_partials/_footer") %>
