<%- partial("/_partials/_header") %>

<!-- Main Hero -->
	<div class="main-hero">
		<div class="container">
			<div class="col-md-3 wow slideInDown">
				<%- partial("/_partials/_navigation") %>
			</div>
			<div class="col-md-9">
				<h2 class="wow fadeIn">aboriginal by design, driven by <span class="blue-hero-text">performance, quality and safety.</span></h2>
			</div>
		</div>
	</div>
	<!-- Second Block -->
	<div class="second-block-triangle hidden-xs hidden-sm wow slideInRight">
		<img src="/images/second-block-triangle.png">
	</div>
	<div class="home-second-block">
		<div class="container col-md-6 col-md-offset-3">
			<h2 class="text-center wow fadeIn">tdn contracting is a whole owned chipewyan prairie dene first nation company</h2>
		</div>
	</div>
	<!-- Third Block -->
	<div class="home-third-block wow fadeIn">
		<div class="container">
			<h2 class="text-center">Our Services</h2>
			<h4 class="text-center">We offer a variety of equipment and services, anything that you require we can do. Some of the services we offer include, but not limited to:</h4>
			<%- partial("/_partials/_services") %>
		</div>
	</div>
	<!-- Fourth Block -->
	<div class="home-fourth-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Who We Are</h2>
					<p>TDN Contracting Ltd is a Chipewyan Prairie First Nation totality owned company, which  operates out of Janvier, AB. We encourage hiring local community members for work first.<p>  
					<p>TDN is currently working on obtaining our COR certification from the ACSA.  A Letter of  Intent has been issued and can be shown if requested.  We have a Health, Safety and Environmental manual that we follow.  We are a member of ISNetworld and can provide our identification number when requested.</p>
					<div class="row text-center">
						<span><img class="img-thumbnail img-circle badges" src="/images/isnetworld-seal.png">
						<img class="img-thumbnail img-circle badges" src="/images/cor-seal.png"></span>
					</div>
				</div>
				<div class="col-md-6">
					<img class="img-responsive wow fadeIn" src="/images/about-photo.jpg">
				</div>
			</div>
		</div>
	</div>
<%- partial("/_partials/_footer") %>