<table id="equipment" class="display" cellspacing="0" width="100%">
    <thead>
    	<tr>
        	<th>Equipment</th>
        </tr>
    </thead>
    <tbody>
    	<% equipments.forEach(function(equipment) { %>
        <tr>
            <td><%= equipment %></td>
        </tr>
        <% }); %>
    </tbody>
</table>