<!-- Contact Block -->
	<div class="contact-block">
		<div class="container">
			<!-- Contact Form -->
			<div class="col-md-4">
				<h3><i class="fa fa-envelope"></i> Get in touch</h3>
				<form id="contact-form" role="form">
				      	<div class="form-group">
				    		<input placeholder="Your name" class="form-control" type="text" name="name">
				    	</div>
				    	<div class="form-group">
				    		<input placeholder="Your email" class="form-control" type="email" name="_replyto">
				    	</div>
				    	<div class="form-group">
				    		<textarea placeholder="Your message" class="form-control" type="textarea" name="message"></textarea>
				    	</div>
				    	<button type="submit button" class="btn btn-default" value="Send">Send</button>
				</form>
				<!-- Hidden message to show if contact is successful. -->
				<div id="submit-success" class="alert alert-success collapse" role="alert">
				  Message received! We will be in touch.
				</div>
				<!-- Hidden message to show if user encounters errors. -->
				<div id="submit-errors" class="alert alert-danger collapse" role="alert">
				  It looks like there was an error submitting the form.
				  Please try again later.
				</div>
			</div>
			<!-- Middle Block -->
			<div class="col-md-4">
				<h3><i class="fa fa-map-marker"></i> Contact Information</h3>
				<h4>Manager: Ron Warawa 780-215-6244</h4>
				<p>For career opportunities, please visit <a href="/jobs.html">this page</a>
			</div>
			<!-- CPDFN -->
			<div class="col-md-4">
			     <img src="/images/cpdfn.png" class="img-responsive img-center cpdfn-logo-sm">
			     <h4 class="text-center white-text">TDN Contracting Ltd. is a wholly owned Chipewyan Prairie Dene First Nation company.</h4>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="white-text">&copy; Copyright - <%= title %></p>
				</div>
				<div class="col-md-6">
					<a href="http://www.liquidtrends.com" target="_blank" class="copyright-link pull-right">Design and Development by Liquid Trends Media</p>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="/js/equipment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="/js/jquery.columnizer.min.js"></script>
<script src="/js/main.js"></script>
</html>
